* {
	box-sizing: border-box;
	padding: 0;
}
.cell {
	background: #fff;
	border: 1px solid #999;
	font-size: 34px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	text-align: center;
	width: 34px;
	display: inline-flex;
	outline: none;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	overflow: hidden;
}

.cell-empty {
	border-color: gray;
}

.cell-filled {
	border-color: gray;
	background: black;
}
